<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio de Fanny</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <!-- Inclure le header -->
    <%- include('partials/header') %>

    <main>
        <h1>Bienvenue sur mon portfolio</h1>
        <p>Voici mon site personnel où je parle de mes projets, compétences, et passions.</p>
    </main>
    <script src="/script.js" defer></script>

</body>
</html>
