<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreprise - Portfolio de Fanny</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Inclure le header -->
    <%- include('partials/header') %>

    <main>
        <h1>Entreprise</h1>
        <p>Dans cette section, je parle de mes expériences professionnelles.</p>
    </main>
    <script src="/script.js" defer></script>

</body>
</html>
