.presentation-container, .presentation-container-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    font-family: 'Lora', sans-serif !important; 
}


.presentation-box, .presentation-box-presentation {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    text-align: center; 
    margin: 20px 0;
}

.presentation-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5a5a5a;
    text-align: center; 
}

.experience-carousel {
    max-width: 800px;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin-bottom: 20px; 
    cursor: pointer;

}

.logo-image {
    width: 100px; 
    height: auto;
}

.experience-text {
    text-align: center;
    margin-top: 10px;
    color: #333; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%); 
}

.carousel-indicators {
    bottom: -30px; 
}

.carousel-indicators [data-bs-target] {
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    background-color: #ccc;
}

/* Mise en page pour les grands écrans (écrans > 1024px) */
@media screen and (min-width: 1024px) {
    .presentation-container, .presentation-container-presentation {
        flex-direction: column; /* Disposition verticale pour les grands écrans */
        align-items: center; /* Centrer tout le contenu */
        justify-content: flex-start; /* Justifier le contenu vers le haut */
    }

    /* Empiler les cards les unes sous les autres */
    .presentation-box, .presentation-box-presentation {
        max-width: 100%; /* Elargir la box de présentation */
        margin-top: 20px; /* Ajout d'espace entre chaque card */
    }

    .presentation-title {
        margin-top: 0; /* Enlever la marge en haut du titre */
    }

    .experience-carousel {
        margin-top: 20px; /* Ajouter un espacement au-dessus du carousel */
    }


    .logo-container,
    .experience-text {
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 1024px) {
    .presentation-container, .presentation-container-presentation {
        flex-direction: column; 
        align-items: center; 
    }

    .presentation-box, .presentation-box-presentation {
        max-width: 100%;
    }
}
